<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/materialize/css/stylehome.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  
  <nav class="navbarclass" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">VidRTC<span id="Duo">&nbsp Duo</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/developer"><span id="devlink">Developer<span></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><div class="user-view">
          <div class="background navmobbg">
          
          </div>
         <br><br>
          <a href="#"><span class="white-text name namer"><h4 id="vidrtc">VidRTC</h4> <span id="Duo1">Duo</span></span></a>
        
         
        </div></li>
        <li><a href="/">Home</a></li>
        <li><a href="/developer">About Developer</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 <!-- <div class="section no-pad-bot" id="index-banner">-->
   <!-- <div class="container"> -->
      <br><br>
      <br><br>
      <div class="parentclass">
      <div class="row">
        <div class="left_top_text_and_button">
        <div class="leftdiv col s8 m3">
       
        <h1 class="header light white-text"><div class="blue-text "> 
        <div class="making_inline" id="VidRTCduotext">VidRTC DUO</div></div>
      </h1>
      
      <div class="row">
        <h5 class="header col s12 light white-text">A REAL TIME VIDEO CONFERENCING AND MESSAGING APPLICATION BASED ON WEBRTC AND SOCKET.IO</h5>
      </div>
      <div class="row ">
        <div class="col s12">
        <a href="/getstarted" id="download-button" class="btn-large waves-effect waves-light red accent-4">
          Get Started</a></div>
      </div>
      <br><br>
      </div>
    </div>
    <div class="rightdiv col s3 m8 offset-m3 ">
      <div class="hide-on-med-and-down">
      <div class="row valign-wrapper rower">
        <div  class="col s3" id="mobilephoto"> <img class="responsive-img z-depth-5 "  src="/mobile.png" alt="Mobile" id="mobile"></div>
      <div class="col s8 laptopphoto"><img class="responsive-img z-depth-2"  src="/laptop.png" alt="Laptop" id="laptop"></div>
    </div>
    </div>
  </div>
  </div>

    <!--</div>-->
  <!--</div> -->
   <div class="container">
    <div class="section">
      <div class="row hide-on-med-and-up">
        <div  class="col s6 offset-s6" id="mobilephoto"> <img class="responsive-img z-depth-5 "  src="/mobile.png" alt="Mobile" id="mobile"></div>
      </div>

        <!-- Icon Section-->
      <div class="row">
        <div class="col s12 m7 offset-m4">
          <h2 class="light white-text">STAY CONNECTED WITH YOUR FRIENDS!</h2>
          <p  class="light white-text">
            Create video calls and chat at the same time with friends and family with just one click!
            No sign ups. No downloads required.It’s free, simple and works on Android phones, iPhones, tablets, computers, and smart displays. Try the web based version now!
          </p>
        </div>
      </div>

    </div>
    <br><br>
  </div> 
    

  <footer class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 offset-l4">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">This application was designed to make peer to peer communication easier. Realtime communication was implemented using webRTC. And Socket.IO API's were utilized for signalling and chat messaging.This application also make use of third party STUN and TURN server.</p>


        </div>
       
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="left-align light blue-text lighten-2">
      Developed By <a class="grey-text lighten-5-text" href="https://github.com/Sumansekhar">Suman Sekhar Deka</a>
      </div>
    </div>
    </div>
  </footer>
</div>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/materialize/js/materialize.js"></script>
  <script src="/materialize/js/inithome.js"></script>

  </body>
</html>
